@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav section */
.nav-sec {
    display: flex;

}

nav>ul {
    display: flex;

}

nav li a {
    text-decoration: none;

}

/* banner section */
.container {
    width: 80%;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("banner.png");
    background-repeat: no-repeat;
    margin: auto;

}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;




}

.banner-main {
    display: inline-flex;
    padding: 16px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);



}

div>input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: #FFF;
}


.search {
    border-radius: 8px;

}

button>img {
    height: 24px;
    width: 24px;
    margin-left: -100px;


}

/* features */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.popular {
    color: #131318;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Mulish;
    font-size: 40px;

    font-weight: 800;

}

.popular-des {
    color: rgba(19, 19, 24, 0.70);

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;

    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.popular-list {
    color: rgba(19, 19, 24, 0.70);

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;

    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.popular-content {
    color: #5A5A5D;

    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-primary {
    color: #FFF;
    text-align: center;
    border: 0px;
    font-size: 20px;
    margin-left: 50px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* COUNTRY */
.destination {
    color: #131318;
    text-align: center;
    margin-top: 130px;
    font-size: 40px;

    font-weight: 800;

}

.choose {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.country-img {
    display: flex;
    border-radius: 16px;
    padding-left: 100px;
    padding-right: 50px;
    gap: 20px;
    margin-bottom: 20px;



}

/* main section */
.main-content {}

.why {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.opinion {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.title {
    color: #131318;
    
    font-size: 24px;
    
    font-weight: 800;
    
}

.title-des {
    color: #5A5A5D;
   
    font-size: 16px;
    
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.hotels>img {
    width: 64px;
    height: 64px;
    
    padding-left: 20px;
    padding-top: 10px;
    
}

.service>img {
    width: 64px;
    height: 64px;
    padding-left: 20px;
    padding-top: 10px;
    
}

.pricing>img {
    width: 64px;
    height: 64px;
    padding-left: 20px;
    padding-top: 10px;
    
}

.hotels {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.pricing {
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: auto;
    margin-top: 20px;
    
    
}
.parent{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

/* responsive */
@media screen and (max-width:600px) {
    .features {
        flex-direction: column;

    }

    .mountain {}

}